# 이클립스 프로젝트 관련 파일
.classpath
.project
.settings/

# 빌드 결과물
bin/
target/

# 운영체제 관련 파일
.DS_Store
Thumbs.db

# Git 및 버전 관리 관련 파일
.git/

# Maven 관련
.mvn/
pom.xml.tag
pom.xml.releaseBackup
release.properties

# Gradle 관련
.gradle/
build/

# 로그 및 환경설정 파일
*.log
.env
